USE [master]
GO
/****** Object:  Database [SILVA_PLAZA_DB_test]    Script Date: 11/07/2021 15:00:27 ******/
CREATE DATABASE [SILVA_PLAZA_DB_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SILVA_PLAZA_DB_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SILVA_PLAZA_DB_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SILVA_PLAZA_DB_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SILVA_PLAZA_DB_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SILVA_PLAZA_DB_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SILVA_PLAZA_DB_test]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[IDARTICULO] [smallint] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[MODELO] [varchar](30) NOT NULL,
	[DESCRIPCION] [varchar](60) NOT NULL,
	[IdProveedor] [smallint] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[GananciaPorcentual] [smallint] NOT NULL,
	[IDMARCA] [smallint] NOT NULL,
	[IdTipo] [int] NOT NULL,
	[IDCATEGORIA] [smallint] NOT NULL,
	[STOCK] [bigint] NULL,
	[StockMinimo] [smallint] NOT NULL,
	[ESTADO] [smallint] NOT NULL,
	[IMAGENURL] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [smallint] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [bigint] NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[CUIT] [bigint] NOT NULL,
	[ESTADO] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[ID] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[IDARTICULO] [smallint] NOT NULL,
	[IDPROVEEDOR] [smallint] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[CANTIDAD] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[IDESTADO] [smallint] NOT NULL,
	[NOMBRE] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaArticulosCompra]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaArticulosCompra](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdArticulo] [smallint] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListaArticuloVenta]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListaArticuloVenta](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdArticulo] [smallint] NOT NULL,
	[Cantidad] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[IDMARCA] [smallint] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IDPROVEEDOR] [smallint] IDENTITY(1,1) NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[CUIT] [bigint] NOT NULL,
	[ESTADO] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Id] [int] NOT NULL,
	[Nombre] [char](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[DNI] [int] NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[CUIT] [bigint] NOT NULL,
	[Apellido] [varchar](30) NULL,
	[FechaNacimiento] [date] NULL,
	[Sueldo] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 11/07/2021 15:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[Id] [int] NOT NULL,
	[DNI] [int] NOT NULL,
	[IdCliente] [bigint] NOT NULL,
	[Monto] [money] NOT NULL,
	[Fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTICULO] ON 

INSERT [dbo].[ARTICULO] ([IDARTICULO], [CODIGO], [NOMBRE], [MODELO], [DESCRIPCION], [IdProveedor], [PRECIO], [GananciaPorcentual], [IDMARCA], [IdTipo], [IDCATEGORIA], [STOCK], [StockMinimo], [ESTADO], [IMAGENURL]) VALUES (11, N'L110', N'Lampara Led', N'W9', N'Lampara Led Sica 9w 10w Fria', 1, 94.0000, 50, 1, 2, 4, 10, 10, 1, N'https://http2.mlstatic.com/D_NQ_NP_708869-MLA26766062196_022018-O.jpg')
INSERT [dbo].[ARTICULO] ([IDARTICULO], [CODIGO], [NOMBRE], [MODELO], [DESCRIPCION], [IdProveedor], [PRECIO], [GananciaPorcentual], [IDMARCA], [IdTipo], [IDCATEGORIA], [STOCK], [StockMinimo], [ESTADO], [IMAGENURL]) VALUES (12, N'C102', N'Cinta Teflon', N'1/2', N'Cinta De Teflon 1/2 Pulgada Alta Densidad 10 Mts', 1, 71.0000, 50, 3, 1, 2, 10, 10, 1, N'https://www.abelson.com.ar/4677-large_default/friendly-url-autogeneration-failed.jpg')
INSERT [dbo].[ARTICULO] ([IDARTICULO], [CODIGO], [NOMBRE], [MODELO], [DESCRIPCION], [IdProveedor], [PRECIO], [GananciaPorcentual], [IDMARCA], [IdTipo], [IDCATEGORIA], [STOCK], [StockMinimo], [ESTADO], [IMAGENURL]) VALUES (14, N'T001', N'Taladro', N'500W', N'Taladro Percutor Philco Meptp116 500w Mandril 13mm', 1, 3824.0000, 25, 5, 3, 1, 5, 10, 1, N'https://http2.mlstatic.com/D_NQ_NP_948359-MLA46178490746_052021-O.webp')
SET IDENTITY_INSERT [dbo].[ARTICULO] OFF
GO
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE]) VALUES (1, N'Construccion')
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE]) VALUES (2, N'Griferia')
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE]) VALUES (3, N'Disco')
GO
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [ESTADO]) VALUES (1, N'Local', N'Venta Final', N'Local@Local.com', 12345678, 2)
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [ESTADO]) VALUES (2, N'Reconquista 1234', N'Juan Perez', N'JuanP@hotmail.com', 45123465, 1)
GO
INSERT [dbo].[ESTADO] ([IDESTADO], [NOMBRE]) VALUES (1, N'Activo')
INSERT [dbo].[ESTADO] ([IDESTADO], [NOMBRE]) VALUES (2, N'Baja')
GO
INSERT [dbo].[MARCA] ([IDMARCA], [NOMBRE]) VALUES (1, N'Sica')
INSERT [dbo].[MARCA] ([IDMARCA], [NOMBRE]) VALUES (2, N'Electronube')
INSERT [dbo].[MARCA] ([IDMARCA], [NOMBRE]) VALUES (3, N'Gloa')
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IDPROVEEDOR], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [ESTADO]) VALUES (1, N'Estados Unidos 1345', N'Eiden', N'Distribuidora.Eiden@hotmail.com', 45678153, 1)
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
INSERT [dbo].[Tipo] ([Id], [Nombre]) VALUES (1, N'Cintas                                            ')
INSERT [dbo].[Tipo] ([Id], [Nombre]) VALUES (2, N'Bombillas                                         ')
INSERT [dbo].[Tipo] ([Id], [Nombre]) VALUES (3, N'Taladro                                           ')
GO
INSERT [dbo].[VENDEDOR] ([DNI], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [Apellido], [FechaNacimiento], [Sueldo]) VALUES (41354041, N'Sarmiento 687', N'Valentin', N'valen@hota.com', 1236487954, N'Plaza', NULL, NULL)
INSERT [dbo].[VENDEDOR] ([DNI], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [Apellido], [FechaNacimiento], [Sueldo]) VALUES (40335687, N'Montevideo 33', N'Nicolas', N'nico@hotmcil.com', 12345678965, N'Gonzales', NULL, NULL)
INSERT [dbo].[VENDEDOR] ([DNI], [DIRECCION], [NOMBRE], [EMAIL], [CUIT], [Apellido], [FechaNacimiento], [Sueldo]) VALUES (32589462, N'Peron', N'Juan', N'juan@hotmail.com', 123456987, N'Perez', NULL, NULL)
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([IDESTADO])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([IDMARCA])
REFERENCES [dbo].[MARCA] ([IDMARCA])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IDPROVEEDOR])
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Tipo] ([Id])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([IDESTADO])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([IDARTICULO])
REFERENCES [dbo].[ARTICULO] ([IDARTICULO])
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([IDPROVEEDOR])
GO
ALTER TABLE [dbo].[ListaArticulosCompra]  WITH CHECK ADD FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[ARTICULO] ([IDARTICULO])
GO
ALTER TABLE [dbo].[ListaArticulosCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[COMPRA] ([ID])
GO
ALTER TABLE [dbo].[ListaArticuloVenta]  WITH CHECK ADD FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[ARTICULO] ([IDARTICULO])
GO
ALTER TABLE [dbo].[ListaArticuloVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas] ([Id])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ESTADO])
REFERENCES [dbo].[ESTADO] ([IDESTADO])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[VENDEDOR] ([DNI])
GO